#container {
    display: flex;
}
#code {
    width: 49%;
    border: 1px solid lightgray;
}

#callgraph {
    width: auto;
    height: 500px;
}

/*pre span:before {*/
/*  counter-increment: line;*/
/*  content: counter(line);*/
/*  display: inline-block;*/
/*  border-right: 1px solid #ddd;*/
/*  padding: 0 .5em;*/
/*  margin-right: .5em;*/
/*  color: #888*/
/*}*/
.h-line {
    background: RGB(241,231,64);
}
.h-linenum {
    width: 40px;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    color: #86d5f8;
    background-color: #1f7199;
    margin-right: 8px;
}